[submodule "git-prompt"]
	path = git-prompt
	url = https://github.com/lvv/git-prompt.git
[submodule "git_utils"]
	path = git_utils
	url = https://github.com/maruel/git_utils.git
[submodule "keychain"]
	path = keychain
	url = https://github.com/maruel/keychain.py.git
[submodule "configs/.vim/bundle/vim-go"]
	path = configs/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
