[submodule "git-prompt"]
	path = git-prompt
	url = https://github.com/lvv/git-prompt.git
[submodule "git_utils"]
	path = git_utils
	url = git://github.com/maruel/git_utils.git
[submodule "keychain"]
	path = keychain
	url = git@github.com:maruel/keychain.py.git
