[color]
	ui = auto
[core]
	autocrlf = false
	excludesfile = "~/.gitexcludes"
[alias]
	st = status
	ci = commit
	br = branch
        graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
	bd = branch -D
	sr = svn rebase
        alias = "!sh -c '[ $# = 2 ] && git config --global alias.\"$1\" \"$2\" && exit 0 || echo \"usage: git alias <new alias> <original command>\" >&2 && exit 1' -"
	co = checkout
	ignored = "!cd \"$(git rev-parse --show-cdup)\" && git clean -n -d | cut -c 14- | sed -e \"s/\\/$//\""
        ignoreall = "!cd \"$(git rev-parse --show-cdup)\" && git clean -n -d | cut -c 14- | sed -e \"s/\\/$//\" >> .git/info/exclude"
	which = !cat $(git rev-parse --git-dir)/description
;        ignoreall = "ignored >> .git/info/exclude"
[push]
	default = matching
[mergetool "autodiff"]
	cmd = autodiff $BASE $LOCAL $REMOTE $MERGED
[merge]
	tool = autodiff
[gui]
	pruneduringfetch = true
[receive]
	denyCurrentBranch = warn
[difftool "autodiff"]
	cmd = autodiff $LOCAL $REMOTE
[diff]
	tool = autodiff
